[submodule "video_deid"]
	path = video_deid
	url = https://github.com/kbjohnson-penn/video-deid.git
[submodule "audio_deid"]
	path = audio_deid
	url = https://github.com/kbjohnson-penn/audio-deid.git
[submodule "philter-ucsf"]
	path = philter-ucsf
	url = https://github.com/kbjohnson-penn/philter-ucsf.git
